#welcome {
    background-color: #EA5B0C;
    padding: 1px 10px 1px 10px;
    color: white;
}

/* #mainNav{
    background-color: rgb(255, 255, 255);
    color: black;
}

#mainNav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#mainNav li{
    display: inline;
    padding: 5px 10px; 
}

#mainNav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#mainNav li:hover{
    background-color: rgb(215, 215, 215);
} */