/* List
---------------------------------------------------------------------------- */

.grid-list {
  display: grid;
  padding: 0;
  margin-right: var(--s);
  margin-left: var(--s);
  gap: var(--s);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: var(--s);
  gap: var(--s);
  list-style: none;
}

/* Welcome
---------------------------------------------------------------------------- */

.welcome {
  padding: var(--m);
  margin: var(--s);
  background-color: var(--color-orange);
  color: var(--color-lightest);
  line-height: var(--l);

  .about-link {
    margin-top: var(--s);
  }

  a {
    color: var(--color-lightest);
    font-weight: var(--fw-bold);
    text-decoration: none;
  }
}

/* Cards
---------------------------------------------------------------------------- */

.card-list {
  display: grid;
  gap: var(--s);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.cards {
  padding-bottom: var(--s);
  margin-bottom: var(--m);
  background-color: var(--color-lightest);

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h2 {
    padding: var(--s) 0 0 var(--s);
    margin: 0;
    font-weight: var(--fw-bold);
  }

  address {
    margin-left: var(--s);
  }
}


/* Header
---------------------------------------------------------------------------- */

header {
  padding: var(--xxl) var(--xxs);
  background-color: var(--color-lightest);

  nav {
    .logo-link {
      margin-left: 30px;
    }

    .menu {
      ul {
        position: absolute;
        top: 37px;
        right: 60px;
        display: inline-flex;
      }
    
      li{
        margin: var(--s);
        font-weight: var(--fw-medium);
    
        .icon {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    
      li:hover {
        font-weight: var(--fw-bold);
      }
    }

    .icon {
      position: absolute;
      top: 40px;
      right: 25px;
      font-size: var(--xxl);
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      margin-top: var(--s);
      margin-bottom: -35px;
      list-style: none;

      li {
        flex: 1;
        padding: var(--m);
        font-size: var(--m);
        font-weight: var(--fw-medium);
        text-align: center;
      }

      li:hover {
        background-color: var(--color-light);
        font-weight: var(--fw-bold);
      }
    }
  }
}

/* Menu
---------------------------------------------------------------------------- */



@media screen and (min-width: 600px) {
  .burger-icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}

/* Search
---------------------------------------------------------------------------- */

.search {
  display: flex;
  align-items: center;
  padding: var(--m);
  margin: var(--s);
  background-color: var(--color-lightest);
  color: var(--color-dark);
  font-size: var(--l);
  
  .icon {
    position: absolute;
    right: var(--xl);
  }
}

.search-header {
  position: absolute;
  right: 30%;
  left: 30%;
  display: flex;
  align-items: center;
  padding: var(--m);
  margin: var(--s);
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--l);
  
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--xs);
    color: var(--color-lightest);
    background-color: var(--color-orange);
  }
}

@media screen and (min-width: 1000px) {
  .search {
    display: none;
  }


}

@media screen and (max-width: 1000px) {
  .search-header{
    display: none;
  }
}

/* Item
---------------------------------------------------------------------------- */

.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--m);
  background-color: var(--color-lightest);

  &::before {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--xxl);
    line-height: var(--l);
  }

  .icon {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: var(--xxxl);
  }

  p,
  address {
    margin: 0;
    margin-left: var(--xxxl);
    font-style: normal;
    line-height: var(--lh-tight);
  }

  p {
    font-weight: var(--fw-medium);
  }

  address {
    font-size: smaller;
  }
}

/* Footer
---------------------------------------------------------------------------- */

footer {
  padding-top: var(--s);
  padding-bottom: var(--s);
  background-color: var(--color-dark);
  color: var(--color-lightest);

  ul {
    padding-bottom: var(--s);
    margin-left: var(--s);
  }

  li {
    padding-top: var(--xxxs);
  }

  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* Tags
---------------------------------------------------------------------------- */

.tag-list {
  ul {
    margin-top: var(--s);
    margin-left: var(--s);
  }

  li {
    display: inline;
    padding: var(--quad) var(--half);
    background-color: var(--color-light);
    font-size: var(--s);
  }
}
